<!DOCTYPE html>
<html ng-app="templateTest">
<head>
    <meta charset="utf-8">
    <title>Bootstrap a Test Module</title>
    <style>
     li:first-child {
     	font-style: italic;
	 }
	 li:last-child {
	     font-weight: bold;
	 }
	 </style>
</head>
<body>
	<form novalidate>
	    <label for="first_name">First Name</label>
	    <input type="text" id="first_name" ng-model="user.firstName" maxlength="50">

	    <label for="last_name">Last Name</label>
	    <input type="text" id="last_name"  ng-model="user.lastName" maxlength="100">

	    <label for="email">eMail</label>
	    <input type="email" id="email" ng-model="user.email" required>

	    <label for="password">Password</label>
	    <input type="password" id="password" ng-model="user.password" minlength="6" required>
	</form>
	<div>
	    Welcome {{ user.firstName }} {{ user.lastName }}<br>
	    We will send a confirmation eMail to {{ user.email }}
	</div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="/js/template-test.js"></script>
</body>
</html>